<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/in-stock.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home-style.css') }}">
        <title>
            Ax Stock
        </title>
    </head>
    <body>
        <header><img src="{{ url_for('static', filename='images/in-stock.png') }}" alt=""> AX</header>
        <div id="sidebar">
            <ul>
                <li><a href="/"><img src="{{ url_for('static', filename='images/in-stock.png') }}" alt="" id="in-stock"></a></li>
               <!-- Add more links as needed -->
            </ul>
        
        </div> 
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        <div id="Register-1"i>
            <h1>Profile</h1>
            <p><span class="label">Username :</span> {{ user.username }}</p>
<p><span class="label">Email :</span> {{ user.email }}</p>
<p><span class="label">Company :</span> {{ user.company }}</p>
<p><span class="label">Role :</span> {{ user.role }}</p>
<p><span class="label">Phone :</span> {{ user.phone }}</p>
<p><span class="label">Address :</span> {{ user.address }}</p> 
<p><span class="label">Created at :</span> {{ user.date }}</p>
<p><span class="label">Account Status :</span> {{ user.status }}</p>
<button type="submit"><a href="/set_up">Bussiness Operations</a></button>
        </div>
    </body>
</html>