<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="images/in-stock.png">
        <link rel="stylesheet" href="style/home-style.css">
        <title>
            Ax Stock
        </title>
    </head>
    <body>
        <header><img src="images/in-stock.png" alt=""> AX</header>
        <div id="sidebar">
            <ul>
             <li><img src="images/in-stock.png" alt="" id="in-stock"></li>
                <li><img src="images/home.png" alt=""></li>
                <li><img src="images/table.png" alt=""></li>
                <li><img src="images/line-chart.png" alt=""></li>
                <li><img src="images/pie-chart.png" alt=""></li>
                <li><img src="images/logout.png" alt="" id="logout" ></li>
               <!-- Add more links as needed -->
            </ul>
        </div>
        <div id="container"></div>
    </body>
</html>